<div class="container">
  <div class="notification">
    <p class="subtitle">
      First component works!
    </p>
  </div>

  <div class="columns">
    <div class="column">
      <button class="button is-info" (click)="addMyInfo()" [disabled]='!addFlag'>My Info</button>
      <p>{{myInfo}}</p>
    </div>
    <div class="column">
      <input class="input" type="text" placeholder="after press Enter" (keyup.enter)="onKeyUp($event)">
      <input class="input" type="text" placeholder="New Text" [(ngModel)]='inputText'>
      <p>{{inputText}}</p>
    </div>
    <div class="column">
      <div class="field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="Find a repository" #inpText>
        </div>
        <div class="control">
          <a class="button is-info" (click)='addTextRepository(inpText.value)'>
            Search
          </a>
        </div>
      </div>
      <p>{{textRepository}}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="field has-addons">
    <div class="control">
      <input class="input" type="text" placeholder="Add some name" [(ngModel)]='myName'>
    </div>
    <div class="control">
      <a class="button is-info" (click)="getMyName()">
        Button
      </a>
    </div>
  </div>
  <p *ngIf='!addMyName; else successAdd'>Імя не добавлено</p>
  <ng-template #successAdd>
    <p >Добавлено імя - ></p>
  </ng-template>
  <p *ngFor='let name of someNames; let i = index'><span [ngStyle]='{color: (i+1) % 2 === 0 ? "red" : "blue"}' [ngClass]='{"is-size-3": true}'>{{i+1}}  -  {{name}}</span></p>
</div>
