 <!-- About -->
 <section class="section" id="about">
    <!-- Title -->
    <div class="section-heading">
      <h3 class="title is-2">About Me</h3>
      <h4 class="subtitle is-5">New member of SoftServe IT Academy</h4>
      <div class="container">
        <p>My name is Marian. I’m 26. 
          I was born in IF. All my life I live here. 
          I’m not married, but I have a long relationship. 
          I’m interested in <strong>modern technology</strong> and innovation, electric cars, <strong>blockchain</strong>, smart house and smart things at all. 
          I lead the healthy and active lifestyle. I <strong>visit the gym</strong> three times a week. 
          By the way, I like table tennis and volleyball. 
        </p>
      </div>
    </div>

    <div class="columns has-same-height is-gapless">
      <div class="column">
        <!-- Profile -->
        <div class="card">
          <div class="card-content">
            <h3 class="title is-4">Profile</h3>

            <div class="content">
              <table class="table-profile">
                <tr>
                  <th colspan="1"></th>
                  <th colspan="2"></th>
                </tr>
                <tr>
                  <td>Address:</td>
                  <td>SoftServe IT Academy</td>
                </tr>
                <tr>
                  <td>Phone:</td>
                  <td>099-317-3676</td>
                </tr>
                <tr>
                  <td>Email:</td>
                  <td>malina.marian@gmail.com</td>
                </tr>
              </table>
            </div>
            <br>
            <div class="buttons has-addons is-centered">
              <a href="#" class="button is-link">Github</a>
              <a href="#" class="button is-link">Instafram</a>
              <a href="#" class="button is-link">Vkontakte</a>
              <a href="#" class="button is-link">Facebook</a>
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- Profile picture -->
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="../../assets/image/MyPhoto.jpg" alt="Placeholder image">
            </figure>
          </div>
        </div>
      </div>
      <div class="column">
        <!-- Skills -->
        <div class="card">
          <div class="card-content skills-content">
            <h3 class="title is-4">Skills</h3>
            <div class="content">

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>JavaScript:</strong>
                      <br>
                      <progress class="progress is-primary" value="80" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Angular:</strong>
                      <br>
                      <progress class="progress is-primary" value="10" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Node.js:</strong>
                      <br>
                      <progress class="progress is-primary" value="20" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>HTML5/CSS3</strong>
                      <br>
                      <progress class="progress is-primary" value="90" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>

              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Databases</strong>
                      <br>
                      <progress class="progress is-primary" value="30" max="100"></progress>
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>